@import "../../styles/colors";
@import "../../styles//variables";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $tablet) {
    margin-bottom: $x2;
  }
}

.logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.nameSection {
  margin-left: $x2;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 26px;
  margin: 0;
}

.wallet {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.info {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: $x2;
  font-size: 22px;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}
