body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181820;
  color: #d6edff;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  text-decoration: none;
  color: #d6edff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
